<div class="container">
    <div class="pokedle__how-to-play-icon" (click)="openHowToPlayDialog()" >
        <mat-icon class="pokedle__how-to-play-icon" aria-label="How to Play">help</mat-icon>
    </div>
    <div class="inner-container title-container" >
        <img class="title"
            src="../../assets/images/pokedle.png" />
    </div>
    <div class="inner-container" *ngIf="gameState === this.GAME_STATE.START">
        <form class="poke-form inner-container">
            <mat-form-field class="poke-form-field" subscriptSizing="dynamic">
                <mat-label>Pokemon Name</mat-label>
                <input class="poke-input" type="text" placeholder="Larvitar" aria-label="Pokemon" matInput
                    [formControl]="pokeInputControl" [matAutocomplete]="auto" (keydown.enter)="onSubmit($event)" [attr.disabled]="gameState !== this.GAME_STATE.START"/>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option class="poke-suggest" *ngFor="let pokemon of suggestedPokemons" [value]="pokemon?.name">
                        {{ pokemon?.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="pokeball" (click)="onSubmit($event)"></div>
        </form>
    </div>
    <div class="inner-container guess-count-container">
        <p>Guess todays Pokemon!</p>
        Guesses: {{ dataSource.data.length }} / {{maxGuesses}}
    </div>
    <div class="inner-container guess-count-container" *ngIf="gameState !== GAME_STATE.START">
        <p *ngIf="gameState === GAME_STATE.WIN">You win!</p>
        <p *ngIf="gameState === GAME_STATE.LOSE">You lose!</p>
        <p class="header">Todays Pokemon:</p>
        <img src="{{ todaysPokemon.image }}" />
        <p>{{todaysPokemon.name}}</p>
        <!-- <button mat-raised-button (click)="reloadPage()">Reload Page</button> -->
    </div>
    <div class="inner-container pokedex-container">
        <div class="inner-container pokedex-title-container">
            <div class="pokedex-title-item">
                <img class="title" src="../../assets/images/pokedex.png" />
            </div>
            <div class="pokedex-title-item">
                <mat-slide-toggle class="custom-slide-toggle" [checked]="isPokemonHidden" (change)="togglePokemonVisibility()"><span class="pokedex-slider-text">Hide Pokemon</span></mat-slide-toggle>
            </div>
        </div>
        <div class="pokedex-screens-container">
            <div class="inner-container pokedex-inner-container">
                <div class="sprite-container">
                    <app-pokemon-card *ngFor="let pokemon of allPokemon" [pokemon]="pokemon" [correctlyGuessed]="correctlyGuessed" [isPokemonHidden]="isPokemonHidden"
                        (hoverEvent)="onChildHover($event)" (clickEvent)="onChildClick($event)"></app-pokemon-card>
                </div>
            </div>
            <div class="pokedex-stats-container">
                <div class="pokedex-stat">Name: {{ hoveredPokemon?.name }}</div>
                <div class="pokedex-stat">Type: {{ hoveredPokemon?.type1 }}</div>
                <div class="pokedex-stat">Type: {{ hoveredPokemon?.type2 }}</div>
                <div class="pokedex-stat">Color: {{ hoveredPokemon?.color }}</div>
                <!-- <div class="pokedex-stat">
                    Abilities: 
                    <div *ngFor="let ability of hoveredPokemon?.abilities; let last = last">
                        {{ ability?.pokemon_v2_ability?.name }}<span *ngIf="!last">, </span>
                    </div>
                </div> -->
                <hr />
                <div class="pokedex-stat pokedex-stat-description">
                    {{hoveredPokemon?.description}}
                </div>
                <!-- <div class="pokedex-stat">
                    Eggroups: 
                    <div *ngFor="let egggroup of hoveredPokemon?.egggroup; let last = last">
                        {{ egggroup?.pokemon_v2_egggroup?.name }}<span *ngIf="!last">, </span>
                    </div>
                </div> -->
                <!-- <div class="pokedex-stat">Weight: {{ hoveredPokemon?.weight }}</div>
                <div class="pokedex-stat">Stats: {{ hoveredPokemon?.stats }}</div> -->
            </div>
        </div>

    </div>
    <!-- <div class="inner-container" *ngIf="loading">
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="100" strokeWidth="8"
            color="warn"></mat-progress-spinner>
    </div> -->
    <div class="inner-container table-container">
        <table mat-table [dataSource]="dataSource" class="guess-table">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Pokemon</th>
                <td mat-cell *matCellDef="let element" class="guess-table__img">
                    <img src="{{ element.image }}" />
                    <p *ngIf="!element.image">{{element.name}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="type1">
                <th mat-header-cell *matHeaderCellDef>Type 1</th>
                <td mat-cell *matCellDef="let element" [class.correct]="element.type1 === todaysPokemon.type1"
                    [class.wrong]="element.type1 !== todaysPokemon.type1"
                    [class.partial]="element.type1 === todaysPokemon.type2">
                    {{ element.type1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="type2">
                <th mat-header-cell *matHeaderCellDef>Type 2</th>
                <td mat-cell *matCellDef="let element" [class.correct]="element.type2 === todaysPokemon.type2"
                    [class.wrong]="element.type2 !== todaysPokemon.type2"
                    [class.partial]="element.type2 === todaysPokemon.type1">
                    {{ element.type2 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let element" [class.correct]="element.color === todaysPokemon.color"
                    [class.wrong]="element.color !== todaysPokemon.color">{{ element.color }}</td>
            </ng-container>

            <ng-container matColumnDef="abilities">
                <th mat-header-cell *matHeaderCellDef>Abilities</th>
                <td mat-cell *matCellDef="let element"
                    [class.correct]="compareArrays(element.abilities, todaysPokemon.abilities, 'pokemon_v2_ability', 'name') === ARRAY_COMPARISON_RESULT.SAME"
                    [class.wrong]="compareArrays(element.abilities, todaysPokemon.abilities, 'pokemon_v2_ability', 'name') === ARRAY_COMPARISON_RESULT.NO_COMMON_VALUES"
                    [class.partial]="compareArrays(element.abilities, todaysPokemon.abilities, 'pokemon_v2_ability', 'name') === ARRAY_COMPARISON_RESULT.COMMON_VALUES">
                    <ng-container *ngFor="let ability of element.abilities; let last = last">
                        {{ ability?.pokemon_v2_ability?.name }}<span *ngIf="!last">, </span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="egggroup">
                <th mat-header-cell *matHeaderCellDef>Egggroup</th>
                <td mat-cell *matCellDef="let element"
                    [class.correct]="compareArrays(element.egggroup, todaysPokemon.egggroup, 'pokemon_v2_egggroup', 'name') === ARRAY_COMPARISON_RESULT.SAME"
                    [class.wrong]="compareArrays(element.egggroup, todaysPokemon.egggroup, 'pokemon_v2_egggroup', 'name') === ARRAY_COMPARISON_RESULT.NO_COMMON_VALUES"
                    [class.partial]="compareArrays(element.egggroup, todaysPokemon.egggroup, 'pokemon_v2_egggroup', 'name') === ARRAY_COMPARISON_RESULT.COMMON_VALUES">
                    <ng-container *ngFor="let egggroup of element.egggroup; let last = last">
                        {{ egggroup?.pokemon_v2_egggroup?.name }}<span *ngIf="!last">, </span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>Weight</th>
                <td mat-cell *matCellDef="let element" [class.correct]="element.weight === todaysPokemon.weight"
                    [class.wrong]="element.weight !== todaysPokemon.weight">
                    {{ element.weight }}
                    <mat-icon *ngIf="element.weight > todaysPokemon.weight">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="element.weight < todaysPokemon.weight">keyboard_arrow_up</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="stats">
                <th mat-header-cell *matHeaderCellDef>Stats</th>
                <td mat-cell *matCellDef="let element" [class.correct]="element.stats === todaysPokemon.stats"
                    [class.wrong]="element.stats !== todaysPokemon.stats">
                    {{ element.stats }}
                    <mat-icon *ngIf="element.stats > todaysPokemon.stats">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="element.stats < todaysPokemon.stats">keyboard_arrow_up</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div class="inner-container streak-container">
        <p>Current Streak: {{currentStreak}}</p>
        <p>Highest Streak: {{maxStreak}}</p>
        <p class="header">Yesterdays Pokemon:</p>
        <img src="{{ yesterdaysPokemon.image }}" />
        <p>{{yesterdaysPokemon.name}}</p>
    </div>
</div>

<ng-template #endDialog >
    <div class="dialog-container">
        <h2 matDialogTitle [innerText]="gameState === GAME_STATE.WIN ? 'You win!' : 'Game Over'"></h2>
        <p matDialogContent class="dialog-text">
            <!-- <em>You're on your way to being the very best!</em> -->
            <img src="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif"
                *ngIf="gameState === GAME_STATE.LOSE" />
            <img src="        https://media.tenor.com/id90WoqA-sIAAAAC/pikachu.gif" *ngIf="gameState === GAME_STATE.WIN" />
        </p>
        <p>Current Streak: {{currentStreak}}</p>
        <p>Highest Streak: {{maxStreak}}</p>
        <mat-dialog-actions align="end" class="button-container">
            <button mat-raised-button matDialogClose class="button">Dismiss</button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #howToPlayDialog>
    <div class="dialog-container">
        <h2 matDialogTitle>How to Play Pokedle</h2>
        <mat-dialog-content class="dialog-text">
            <h3><strong>1. Choose Your Pokémon</strong></h3>
            <p>Welcome, young Pokémon Trainer! It's time to embark on your journey. Click on the image in the Pokédex or type the Pokémon's name into the search box and hit enter. This will unveil your chosen Pokémon's attributes and guide you to discover if it's the "Pokémon of the Day."</p>
            
            <h3><strong>2. Match the Attributes</strong></h3>
            <p>This is where the thrill begins! After you've found your Pokémon, the game analyzes if its attributes match those of the "Pokémon of the Day." But what do the colors signify?</p>
            <ul>
                <li><strong class="wrong">Red:</strong> Oh, it seems no attributes match.</li>
                <li><strong class="partial">Orange:</strong> You're on the right trail; some attributes match.</li>
                <li><strong class="correct">Green:</strong> Marvelous! Every attribute is a perfect match!</li>
            </ul>
            
            <h3><strong>3. The Great Guessing Game</strong></h3>
            <p>Now, test your Pokémon wisdom and intuition! You have eight opportunities to guess which Pokémon is the "Pokémon of the Day." Every correct guess eliminates Pokémon that don't measure up. Achieve a "Green" and you're on your path to victory!</p>
            
            <h3><strong>4. Track Your Progress</strong></h3>
            <p>The adventure continues without end. The game carefully records your journey, allowing you to monitor your current and maximum streaks. Flaunt your accomplishments to your companions and become the ultimate Pokémon Master!</p>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="button-container">
            <button mat-raised-button matDialogClose class="button">Dismiss</button>
        </mat-dialog-actions>
    </div>
</ng-template>
