@import "../../styles/_variables";

$red1: #ff0000;
$red2: #cc0000;
$blue1: #3b4cca;
$yellow1: #ffde00;
$yellow2: #b3a125;
$green1: #C6DE54;
$green2: #001100;

.container {
  @media #{$lg}, #{$xl} {
    display: flex;
  }
  th, input, mat-label {
    font-family: 'digital', sans-serif;
  }

  font-family: 'digital', sans-serif;

  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;

  .inner-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: auto;
  }

  .title-container {
    padding: 0;
    .title {
      max-width: 300px;
    }
  }

  .pokedex-title-container {
    background-color: $red1;

    .title {
      max-width: 100px;
    }
  }

  .pokedex-screens-container {
    display: flex;
  }

  .pokedex-stats-container {
    min-width: 100px;
    max-width: 200px;
    @media #{$lg}, #{$xl} {
      min-width: 200px;
    }
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 4px solid $red1;
    text-transform: capitalize;
    font-size: $header;
    font-family: 'digital', sans-serif;
    background-color: $green1;
    color: $green2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    min-height: 360px;

    .pokedex-stat {
      word-break: break-word;
      margin: 5px;
      font-size: 20px;
      @media #{$lg}, #{$xl} {
        font-size: $header;
      }

      &-description {
        font-size: 16px;
        @media #{$lg}, #{$xl} {
          font-size: 20px;
        }
      }
    }

    hr {
      width: 90%;
      border: 1px solid black;
    }
  }

  .pokedex-container {
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background-color: #e7e7e7;
      border: 1px solid #cacaca;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $green2;
    }
  }

  .pokedex-inner-container {
    width: 100%;
    flex-grow: 2;
    border: 4px solid $red1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      justify-content: center;
  }

  .sprite-container {
    width: 800px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .poke-form {
    overflow: hidden;
    .poke-form-field {
      width: 300px;
    }

    .poke-input {
      text-transform: capitalize;
    }
  }

  .table-container {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    @media #{$lg}, #{$xl} {
      display: flex;
    }
  }

  .guess-count-container {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $body;
    overflow: visible ;
  }

  .guess-table {
    border: 2px solid black;
    width: 100%;

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      padding: 8px; /* Adjust the desired padding value */
      margin: 4px; /* Adjust the desired margin value */
      text-align: center;
      border: 1px solid black;
    }

    .mat-mdc-header-cell {
      background-color: $blue1;
      color: white;
      font-size: $header;
    }

    .correct {
      background-color: lightgreen;
    }


    .wrong {
      background-color: lightcoral;
    }

    
    .partial {
      background-color: lightsalmon;
    }
    td {
      font-size: $body;
      text-transform: capitalize;
    }
  }
}

.poke-suggest {
  text-transform: capitalize;
}

.dialog-text {
  img {
    max-width: 300px;
  }
}

::ng-deep .mat-focused .mdc-floating-label {
  /*change color of label*/
  color: $red2 !important;
}

.pokeball {
  &:hover {
    cursor: pointer;
  }

  display: block;
  width: 48px;
  height: 48px;
  background: radial-gradient(
      white 4px,
      black 4.25px 4.5px,
      white 4.75px 6px,
      black 6.25px 8px,
      transparent 8.25px
    ),
    linear-gradient(
      to bottom,
      red 0 20px,
      black 20.25px 24px,
      white 24.25px 25px
    );
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset -4px -2px 0 0 rgba(0, 0, 0, 0.2);
  animation: fall 0.5s ease-in-out 1s,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3,
    catch 0.5s ease-out 5.25s forwards
;
}
/* Animation */
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes fall {
  0% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes catch {
  to {
    filter: saturate(0.8) brightness(0.8);
  }
}
