@import "../../styles/_variables";

.invisible {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.hidden {
  display: none;
}

img {
  max-width: 48px;

  @media #{$lg}, #{$xl} { 
    max-width: 72px;
  }
}

img:hover {
  cursor: pointer;
}
