<span *ngIf="isShown" @fadeIn @fadeOut class="countdown">{{counter}}</span>
<button type="button" class="btn btn-primary mt-3" (click)="fadeInOut()">Click me</button>
<div class="content wrapper">
    <h1>R<span class="vowel">i</span>ck R<span class="vowel">o</span>ll<span class="vowel">e</span>d 🤭</h1>
    <iframe
        class="rickVid" width="300vh" height="300vh" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" 
        title="Rick Rolled 🤪" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; autoplay">
    </iframe>
    <audio autoplay loop  id="playAudio">
        <source src="https://www.myinstants.com/media/sounds/epic.mp3">
    </audio>
    <div class="bmoContainer">
        <img src="https://i.kym-cdn.com/photos/images/original/000/569/146/2c9.gif" alt="BMO Dance" id="BMO">
    </div>
</div>
<router-outlet></router-outlet>