/* You can add global styles to this file, and also import other style files */
html{
    background-color: #a3d2ca;
    height: 100%;
}

body{
    height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
    color: #f7f3e9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
