/* You can add global styles to this file, and also import other style files */
html{
    background-color: #a3d2ca;
    height: 100%;
}

body{
    height: 100%;
}

h1 {
    color: #f7f3e9;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

#rickVid {
    border: 3px dashed white;
    box-shadow: 15px 15px 3px #5eaaa8;
    pointer-events: none;
}